@model Hr_Vacancy_Managment.Models.Applicant

@{
    ViewData["Title"] = "Applicant_Details";
}

<h1>Applicant_Details</h1>

<div>
    <h4>Applicant</h4>
    <hr />
    <a href="~/CVS/@Model.Applicant_CV" target="_blank">
        <img src="~/CVS/@Model.Applicant_CV" style="width:200px;object-fit:cover;" height="200" />
    </a>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant_CV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant_CV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applied_For)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applied_For)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creation_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creation_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant_Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Applicant">Back to List</a>
</div>
